/*! minireset.css v0.0.6 | MIT License | github.com/jgthms/minireset.css */
html, body, p, ol, ul, li, dl, dt, dd, blockquote, figure, fieldset, legend, textarea, pre, iframe, hr, h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4, h5, h6 {
  font-size: 100%;
  font-weight: normal;
}

ul {
  list-style: none;
}

button, input, select {
  margin: 0;
}

html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

img, video {
  height: auto;
  max-width: 100%;
}

iframe {
  border: 0;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

td, th {
  padding: 0;
}

.body {
  font-family: "Raleway";
}

@media only screen and (max-width: 600px) {
  .loader {
    position: fixed;
    border: 16px solid #f3f3f3;
    border-top: 16px solid #9356DC;
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin linear 1s 1 forwards;
    margin-top: 425px;
    margin-left: 102px;
    z-index: 1;
  }
  @keyframes spin {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
    to {
      visibility: hidden;
      opacity: 0;
      z-index: 0;
    }
  }
  header {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 14px;
  }
  header i {
    margin-right: 50px;
  }
  #location {
    display: flex;
    background-color: rgb(223, 223, 223);
    padding: 14px;
    justify-content: center;
  }
  i.fa-lg {
    font-size: 15px;
    align-self: center;
    margin-right: 10px;
  }
  #scout {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background-color: rgb(239, 238, 238);
    padding: 30px 10px 30px 10px;
  }
  #scout h1 {
    font-weight: 700;
    font-size: 24px;
    text-align: center;
  }
  #scout p {
    font-weight: 400;
    font-size: 16px;
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: center;
  }
  #exploration {
    background: linear-gradient(#FF79DA, #9356DC);
    border: 1px solid #a09a9e;
    border-radius: 15px 15px 15px 15px;
    box-shadow: 1px 4px 7px 1px #484647;
  }
  #exploration p {
    font-weight: 700;
    color: white;
  }
  #exploration:hover {
    filter: brightness(110%);
  }
  #functioning {
    display: flex;
    flex-direction: column;
    padding: 10px;
  }
  #functioning h2 {
    font-size: 23px;
    font-weight: 700;
  }
  #functioning nav {
    max-width: 800px;
    align-self: center;
  }
  #functioning ul {
    list-style-type: none;
  }
  #functioning li {
    margin-top: 10px;
    counter-increment: list;
  }
  #functioning li::before {
    position: absolute;
    content: counter(list);
    color: white;
    border-radius: 50%;
    padding: 0.2rem 0.5rem;
    background: #9356DC;
    margin-top: 0.7em;
    margin-right: 6em;
  }
  #functioning button {
    display: flex;
    justify-content: space-around;
    width: 100%;
    border-radius: 15px 15px 15px 15px;
    padding: 16px;
    background-color: rgb(239, 238, 238);
    border: 1px;
  }
  #functioning button:hover {
    background: rgba(147, 86, 220, 0.2);
  }
  #restaurants {
    margin-bottom: 40px;
    margin-top: 30px;
    padding-top: 40px;
    background-color: rgb(239, 238, 238);
  }
  #restaurants h2 {
    padding-left: 10px;
    font-size: 23px;
    font-weight: 700;
  }
  .thumbnails {
    display: flex;
    margin-top: 30px;
    width: 96%;
    justify-content: center;
    padding-left: 10px;
    padding-bottom: 20px;
  }
  .thumbnails a {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background-color: white;
    border-radius: 20px 20px 20px 20px;
    filter: drop-shadow(1px 2px 4px grey);
    color: black;
    padding-bottom: 10px;
    text-decoration: none;
  }
  .thumbnails img {
    border-radius: 20px 20px 0px 0px;
  }
  .thumbnails .description {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  .thumbnails .description span {
    margin-right: 25px;
  }
  .thumbnails .name {
    display: flex;
    flex-direction: column;
    margin-left: 15px;
  }
  .thumbnails .name h3 {
    font-weight: 700;
    font-size: 18px;
  }
  .thumbnails .fa-2x {
    transition: all 450ms;
    font-size: 16px;
    align-self: center;
  }
  .thumbnails .fa-2x:hover {
    color: #9559df;
    font-weight: 900;
  }
  .fa-arrow-left {
    color: black;
  }
  .img-restau {
    position: absolute;
  }
  .menu {
    border-radius: 20px 20px 20px 20px;
    background-color: #f5f1f5;
    margin-bottom: 14px;
    padding-bottom: 27px;
    position: relative;
    margin-top: 206px;
    padding-top: 20px;
  }
  .menu #exploration {
    display: flex;
    margin-left: 87px;
    margin-top: 30px;
    padding: 10px 25px 10px 25px;
  }
  .list {
    margin-top: 20px;
    padding-left: 10px;
  }
  .list h2 {
    font-size: 15px;
    font-weight: 400;
  }
  .list li {
    margin-top: 10px;
  }
  .list li:nth-child(1) {
    animation: fade 1s 0.1 ease-in;
  }
  .list li:nth-child(2) {
    animation: fade 1s 0.2 ease-in;
  }
  .list li:nth-child(3) {
    animation: fade 1s 0.3 ease-in;
  }
  .list li:nth-child(4) {
    animation: fade 1s 0.4 ease-in;
  }
  .list button {
    display: flex;
    position: relative;
    background-color: #ffffff;
    border: 2px;
    border-radius: 10px;
    min-width: 95%;
    padding: 9px;
    justify-content: space-between;
  }
  .dish-button:hover .checkbox {
    background-color: aqua;
    border-radius: 0 10px 10px 0;
    transition: width 1s;
    transition: transform 500ms;
    animation-duration: 2s;
    animation-name: slide;
    animation-direction: normal;
  }
  .checkbox {
    background-color: aqua;
    width: 0;
    border-radius: 0 12px 12px 0;
    border-radius: 0 12px 12px 0;
    transition: width;
    animation-duration: 2s;
  }
  .checkbox i.fa-circle-check {
    display: block;
    opacity: 1;
    font-size: 25px;
    padding-top: 18px;
    color: white;
    transform: rotate(360deg);
    --fa-animation-duration: 3s;
  }
  @keyframes slide {
    0% {
      margin-left: 0%;
      width: 0px;
    }
    100% {
      margin-right: 0%;
      width: 20%;
    }
  }
  @keyframes rotation {
    from {
      transition: rotate(0deg);
    }
    to {
      transition: rotate(180deg);
    }
  }
  @keyframes fade {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  .restaurant-name {
    display: flex;
    justify-content: space-between;
  }
  .restaurant-name h1 {
    padding-left: 10px;
    font-size: 18px;
    font-weight: 900;
  }
  .restaurant-name .fa-2x {
    padding-right: 15px;
    transition: linear 450ms;
    font-size: 18px;
  }
  .restaurant-name .fa-2x:hover {
    color: #9559df;
    font-weight: 900;
  }
  .dish {
    font-weight: 700;
  }
  .composition {
    font-weight: 400;
  }
  .price {
    align-self: flex-end;
    font-weight: 600;
    font-size: 11px;
  }
  footer {
    background-color: #353535;
  }
  footer img {
    width: 25%;
  }
  footer i {
    color: #ffffff;
    font-size: 8px;
    width: 2%;
  }
  footer p {
    color: #ffffff;
    font-weight: 200;
    font-size: 13px;
    padding-top: 3px;
    padding-left: 10px;
  }
  .footer-suggest {
    display: flex;
    align-items: center;
    padding-left: 10px;
  }
  .footer-suggest p {
    font-weight: 400;
    margin-left: 2px;
  }
}

/*# sourceMappingURL=style.css.map */
