@import "libs/reset.scss";

h1, h2, h3, p {
    font-family: "Raleway";
}

header {
   display: flex;
   justify-content: center;
   align-items: center;
   margin: 14px;
}

#location {
    display:flex;
    background-color: rgb(223, 223, 223);
    padding: 14px;
    justify-content: center;
}

i.fa-lg {
    font-size: 15px;
    align-self: center;
    margin-right: 10px;
}

#scout {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background-color: rgb(239, 238, 238);
    padding: 30px 10px 30px 10px;
    h1 {
        font-weight: 700;
        font-size: 24px;
        text-align: center;
    }
    p {
        font-weight: 400;
        font-size: 16px;
        margin-top: 10px;
        margin-bottom: 10px;
        text-align: center;
    }
}
  
#exploration {
    background: linear-gradient(#FF79DA, #9356DC);
    border: 1px solid #a09a9e;
    border-radius: 15px 15px 15px 15px;
    p {
        font-weight: 700;
        color: white;
    }
}

#functioning {
    display: flex;
    flex-direction: column;
    padding: 10px;
    h2 {
        font-size: 23px;
        font-weight: 700;
    }
    nav {
        width: 95%;
        align-self: center;
    }

    ul {
        list-style-type: none;
    }

    li {
        margin-top: 10px;
        counter-increment: list;
    }
    li::before {
        content: counter(list);
        color: white;
        border-radius: 50%;
        margin-right: 0.5rem; 
        padding: 0.2rem 0.5rem;
        background: #9356DC;
      }
    button {
        display: flex;
        justify-content: space-around;
        width: 100%;
        border-radius: 15px 15px 15px 15px;
        padding: 10px;
        background-color: rgb(239, 238, 238);
    }
}

#restaurants {
    margin-bottom: 40px;
    margin-top: 30px;
    padding-top: 40px;
    background-color: rgb(239, 238, 238);

    h2 {
        padding-left: 10px;
        font-size: 23px;
        font-weight: 700;
    }
}

.thumbnails {
    display: flex;
    margin-top: 30px;
    width: 96%;
    justify-content: center;
    padding-left: 10px;
    a {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        background-color: white;
        border-radius: 20px 20px 20px 20px;
        filter: drop-shadow(1px 2px 4px grey);
        color: black;
        padding-bottom: 10px;
        text-decoration: none;
    }
    img {
        border-radius: 20px 20px 0px 0px;
    }
    .description {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }

    .name{
        margin-top: 10px;
    }

    i {
        align-self: center;
        margin-left: 30px;
    }
}

footer {
    background-color: black;
    img {
        width: 25%;
    }

    i {
        color: #ffffff;
        font-size: 8px;
        width: 2%;
    }

    p {
        color: #ffffff;
        font-weight: 200;
        font-size: 13px;
        padding-top: 3px;
        padding-left: 10px;
    }
}

.footer-suggest{
    display: flex;
    align-items: center;
    padding-left: 10px;
    p {
        font-weight: 400;
        margin-left: 2px;
    }
}